@import "../../../styles/variables/colors.scss";
@import "../../../styles/mixins/mixins.scss";

.main-navbar {
	height: 60px;
	@extend .box;
}

.logo1 {
	align-items: center;
	display: flex;
	height: 100%;
	padding: 0 $padding;
	width: 100%;

	img {
		height: 50px;
		margin: 0 25px;
		width: 50px;
	}
	.title {
		flex-basis: 30%;
	}
	.middle {
		flex: 1;
	}
	.logoff {
		display: flex;
		flex-direction: column;
		text-align: end;
	}
}
