@import "../../../styles/mixins/mixins.scss";
.course {
	//align-items: center;
	display: flex;
	justify-content: space-around;
	//height: 300px;
	padding: 15px;
	width: 100%;
	@extend .box;

	.main {
		flex-basis: 80%;
		flex-direction: column;

		&-parameters {
			display: flex;
			flex-grow: 1;
			justify-content: space-between;
		}
		&-description {

		}

	}
	.controls {
		display: flex;
		flex-direction: column;
		flex-basis: auto;

		button {

		}
	}
}
