@import "../../../styles/mixins/mixins.scss";
@import "../../../styles/variables/basic.scss";
.logo1 {
	align-items: center;
	display: flex;
	height: 150px;
	padding: $padding;
	width: 100%;
	@extend .box;

	img {
		height: 100px;
		margin: 25px;
		width: 100px;
	}
    .title {
		flex-basis: 30%;
	}
	.middle {
		flex-basis: 25%;
	}
	.logoff {
		display: flex;
		flex-direction: column;
		flex-basis: 25%;
		text-align: end;
	}
}
