<div class="login" >
    <!---->
    <form #loginForm="ngForm">
        <div class="form-group">
            <label for="login">Login</label>
            <input #loginInp="ngModel" type="text" name="login" required class="form-control" required [(ngModel)]="credentials.login"/>
            <div *ngIf="!loginInp.valid&&loginInp.touched" class="error">
                Login required
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input #passwordInp="ngModel" type="password" name="password" class="form-control" required [(ngModel)]="credentials.password"/>
            <div *ngIf="!passwordInp.valid&&passwordInp.touched" class="error">
                Password required
            </div>
        </div>
        <button type="submit" (click)="login()" [disabled]="!loginForm.form.valid">Log in</button>
        <div class="error" *ngIf="!loginForm.form.valid&&loginForm.form.touched">
            Fill the form correctly
        </div>
    </form>
</div>
