@import "./styles/mixins/mixins.scss";
@import './styles/variables/basic';

html, body{
  font-family: "Courier New" , Helvetica, sans-serif;
    font-size: 12px;
	height: 100%;
	text-transform: lowercase;
}

a {
	cursor: pointer !important;
	color: blue !important;
	text-decoration: underline;
	.active {
		background-color: gray;
	}
}

button {
	@extend .btn;
	font-family: Courier;
}
input {
	height: $elm-height;
	@extend .border;
}

.pageflow {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.container {
	flex: 1;
}

.error {
	color: red;
	text-align: center;
}

.ng-valid[required], .ng-valid.required  {
	border-left: 5px solid #42A948; /* green */
}
.ng-touched.ng-invalid:not(form)  {
	border-left: 5px solid #a94442; /* red */
}

.badge {
	background-color: lightgray;
	color: dimgray;
	font-size: 100%;
}