@import "../../../styles/variables/colors.scss";
@import "../../../styles/mixins/mixins.scss";
@import "../../../styles/variables/basic.scss";

.main-footer {
	//position: fixed;
	//bottom: 0;
	//left: 0;
	//right: 0;
	align-items: center;
	display: flex;
	height: 50px;
	justify-content: center;
	margin-bottom: $padding;
	@extend .box;
	//background-color: lightgrey;
}
